@font-face {
  font-family: titleFont;
  src: url("assets/fonts/Unbounded-Regular.ttf");
}

@font-face {
  font-family: textFont;
  src: url("assets/fonts/HankenGrotesk-Regular.ttf");
}

:root {
  --background-color: rgb(252, 252, 252);
  --left-menu-color: rgb(210, 255, 253);
  --mini-text-color: rgb(183, 183, 255);
  --coordonnees-color: rgb(205, 205, 205);
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-family: titleFont;
  margin: 5px;
}

h2 {
  font-family: titleFont;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-family: textFont;
  font-size: 1.3rem;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-menu {
  margin: 0 15px 0 15px;
  background-color: var(--left-menu-color);
  width: 30%;
  /* max-width: 500px; */
  width: 400px;
  min-width: 320px;
  height: 90%;
  border-radius: 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30);
  text-align: center;
}

.data-list {
  text-align: left;
  margin: 10px 20px 10px 20px;
  height: fit-content;
}

.data-container {
  max-height: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 3px;
  margin-bottom: 3px; */
}

.icon {
  max-width: 20%;
  height: 100%;
  max-height: 40px;
}

.data-info {
  margin-left: 15px;
}

#img_kayak {
  margin-top: 15px;
  margin-bottom: 5px;
  max-width: 90%;
  max-height: 25%;
  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
}

.right-menu {
  margin: 0 15px 0 15px;
  background-color: var(--right-menu-color);
  height: 90%;
  width: 40%;
  /* border-radius: 20px; */
  /* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30); */
}

.map-container {
  text-align: center;
  height: 80%;
  overflow: hidden;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  background-color: greenyellow;
}

#map {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.coordonnees-container {
  margin: 30px 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.coordonnees {
  font-family: textFont;
}

.mini-text {
  padding: 1px 7px 1px 7px;
  border-radius: 25px;
  position: absolute;
  font-size: 1rem;
  font-weight: 550;
  background-color: var(--mini-text-color);
  transform: translate(-25%, -65%);
}

.coordonnees-text {
  padding: 4px 14px 4px 14px;
  font-size: 1.5rem;
  background-color: var(--coordonnees-color);
  border-radius: 25px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .frame {
    flex-direction: column;
    height: fit-content;
  }
  .left-menu {
    width: 90%;
    min-width: none;
    margin: 10px 0 15px 0;
    height: auto;
  }
  #img_kayak {
    width: 50%;
  }
  #map {
    top: 0;
    transform: translateY(0);
  }
  .right-menu {
    height: auto;
    width: 90%;
    margin: 0 0 15px 0;
  }
  .map-container {
    height: auto;
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
    .coordonnees-container {
      transform: scale(80%, 80%);
      margin: 15px 0 0 0;
      justify-content: space-between;
    }
  }
}